/* Cores
 
   Preto: #12130F
   Azul: #0054A3
   Branco: #FFFFFF
   Amarelo: #FFC300
   Cinza: #555555

   Fontes: 

   font-family: 'Bilbo Swash Caps', cursive;
   font-family: 'Lato', sans-serif;
 
   */

$color-black: #12130f;
$color-white: #ffffff;
$color-primary: #0054a3;
$color-accent: #ffc300;
$color-secondary: #555555;

$font-spotlight: "Bilbo Swash Caps", cursive;
$font-default: "Lato", sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $font-default;
  color: $color-black;
  position: relative;
}

ul {
  list-style: none;
  color: $color-black;
}

a {
  color: $color-black;
  text-decoration: none;
}

.header {
  overflow: hidden;
  width: 100%;
  height: 95vh;
  background: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.logo {
  font-family: $font-default;
  font-weight: 400;
  font-size: 2rem;
}

.navbar-container {
  top: 0;
  position: sticky;
  z-index: 1;
  width: 100%;
  height: 6rem;
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 80px rgba($color-black, 0.2);
}

.navbar-nav {
  width: 80%;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  font-size: 1.6rem;

  li {
    margin-right: 2rem;
  }
}

.btn {
  padding: 1rem 2rem;
  background-color: $color-black;
  color: $color-white;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s;
  margin-right: 1rem;
  font-size: 1.4rem;

  &:hover {
    background-color: $color-white;
    color: $color-black;
    box-shadow: 0px 0px 20px rgba($color-black, 0.5);
  }
}

.btn-inverse {
  padding: 1rem 2rem;
  background-color: $color-white;
  color: $color-black;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s;
  margin-right: 1rem;
  font-size: 1.4rem;

  &:hover {
    background-color: $color-white;
    color: $color-black;
    box-shadow: 0px 0px 20px rgba($color-black, 0.5);
  }
}

.h100 {
  height: 100%;
}

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.w60 {
  width: 60%;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;

  .heading-container {
    height: 100%;
    width: 80%;
    margin: auto;

    .heading-text {
      h1 {
        font-size: 3rem;
        color: #12130f;
        margin-bottom: 0.5rem;
      }
      h2 {
        font-size: 2rem;
        opacity: 0.8;
        margin-bottom: 0.5rem;
      }
      p {
        margin-bottom: 2rem;
        font-size: 1.6rem;
        width: 70%;
      }
    }
  }
}

.heading-img-container {
  width: 80%;
  height: 80%;
  display: flex;

  img {
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.about-container {
  width: 100%;
  height: auto;
  background: #12130f;
  padding: 4rem 0;

  .about-box {
    margin: auto;
    width: 90%;
    overflow: hidden;
    height: 400px;
    display: flex;

    .about-image {
      width: 50%;
      height: 90%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100%;
      }
    }

    .about-details {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
      color: $color-white;

      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      p {
        width: 90%;
        font-size: 1.6rem;
        margin-bottom: 3rem;
      }
    }
  }
}
