/* Cores
 
   Preto: #12130F
   Azul: #0054A3
   Branco: #FFFFFF
   Amarelo: #FFC300
   Cinza: #555555

   Fontes: 

   font-family: 'Bilbo Swash Caps', cursive;
   font-family: 'Lato', sans-serif;
 
   */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #12130f;
  position: relative;
}

ul {
  list-style: none;
  color: #12130f;
}

a {
  color: #12130f;
  text-decoration: none;
}

.header {
  overflow: hidden;
  width: 100%;
  height: 95vh;
  background: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.logo {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.navbar-container {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  width: 100%;
  height: 6rem;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 80px rgba(18, 19, 15, 0.2);
          box-shadow: 0px 2px 80px rgba(18, 19, 15, 0.2);
}

.navbar-nav {
  width: 80%;
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
}

.navbar li {
  margin-right: 2rem;
}

.btn {
  padding: 1rem 2rem;
  background-color: #12130f;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: 1rem;
  font-size: 1.4rem;
}

.btn:hover {
  background-color: #ffffff;
  color: #12130f;
  -webkit-box-shadow: 0px 0px 20px rgba(18, 19, 15, 0.5);
          box-shadow: 0px 0px 20px rgba(18, 19, 15, 0.5);
}

.btn-inverse {
  padding: 1rem 2rem;
  background-color: #ffffff;
  color: #12130f;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: 1rem;
  font-size: 1.4rem;
}

.btn-inverse:hover {
  background-color: #ffffff;
  color: #12130f;
  -webkit-box-shadow: 0px 0px 20px rgba(18, 19, 15, 0.5);
          box-shadow: 0px 0px 20px rgba(18, 19, 15, 0.5);
}

.h100 {
  height: 100%;
}

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.w60 {
  width: 60%;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading .heading-container {
  height: 100%;
  width: 80%;
  margin: auto;
}

.heading .heading-container .heading-text h1 {
  font-size: 3rem;
  color: #12130f;
  margin-bottom: 0.5rem;
}

.heading .heading-container .heading-text h2 {
  font-size: 2rem;
  opacity: 0.8;
  margin-bottom: 0.5rem;
}

.heading .heading-container .heading-text p {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  width: 70%;
}

.heading-img-container {
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading-img-container img {
  margin: auto;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-container {
  width: 100%;
  height: auto;
  background: #12130f;
  padding: 4rem 0;
}

.about-container .about-box {
  margin: auto;
  width: 90%;
  overflow: hidden;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-container .about-box .about-image {
  width: 50%;
  height: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container .about-box .about-image img {
  height: 100%;
}

.about-container .about-box .about-details {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  color: #ffffff;
}

.about-container .about-box .about-details h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.about-container .about-box .about-details h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-container .about-box .about-details p {
  width: 90%;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}
/*# sourceMappingURL=style.css.map */